html {
  font-family: Helvetica;
}

h1, .header, .pricing {
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url(./images/pattern.jpeg);
}

.header {
  font-size: 32px;
  color: white;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

.pricing {
  color: blue;
}
